# github CODEOWNERS file to define owners of (sub) directories.
# Find a detailed description for github CODEOWNERS here:
# https://docs.github.com/de/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.

# root directory and default handling (ENVITED-X Data Space Maintainer). Subsequent definitions will overwrite a previous definition.
/* @jdsika @arauschert

# examples directory
#/examples @user_1 @user_2
